[submodule "packages/materialize:materialize"]
	path = packages/materialize:materialize
	url = https://github.com/mitar/materialize.git
[submodule "packages/mfpierre:chartist-js"]
	path = packages/mfpierre:chartist-js
	url = https://github.com/mitar/meteor-chartist-js.git
[submodule "packages/trix/vendor"]
	path = packages/trix/vendor
	url = https://github.com/mitar/trix.git
[submodule "packages/kadira:flow-router"]
	path = packages/kadira:flow-router
	url = https://github.com/peerlibrary/flow-router.git
