[submodule "packages/materialize:materialize"]
	path = packages/materialize:materialize
	url = https://github.com/mitar/materialize.git
[submodule "packages/mfpierre:chartist-js"]
	path = packages/mfpierre:chartist-js
	url = https://github.com/mitar/meteor-chartist-js.git
[submodule "packages/trix/vendor"]
	path = packages/trix/vendor
	url = https://github.com/mitar/trix.git
[submodule "packages/cunneen:accounts-admin-materializecss"]
	path = packages/cunneen:accounts-admin-materializecss
	url = https://github.com/mitar/meteor-accounts-admin-materializecss.git
[submodule "packages/alanning:roles"]
	path = packages/alanning:roles
	url = https://github.com/mitar/meteor-roles.git
[submodule "packages/kenton:accounts-sandstorm"]
	path = packages/kenton:accounts-sandstorm
	url = https://github.com/mitar/meteor-accounts-sandstorm.git
